.crew {
	--bg-img: url("../../../assets/crew/background-crew-mobile.jpg");
	background-image: var(--bg-img);
	display: grid;
	place-items: center;
	overflow: hidden;
}
.container {
	display: grid;
	margin: 0 auto;
	grid-template-rows: 3rem 14rem 4rem 14rem;
	padding: 6rem 1rem 2rem;
	align-items: center;
	min-height: 100vh;
	text-align: center;
	position: relative;
}

.container img {
	width: 9rem;
	height: 12rem;
	margin: 2rem auto 0;
}

.container hr {
	height: 1px;
	width: 80%;
	margin: 0 auto;
	border: none;
	opacity: 0.2;
}

.slide {
	margin: 0 auto;
	padding: 0;
}
.slide li {
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	background-color: grey;
	outline: none;
	position: relative;
	z-index: 30;
}

.slide li:hover {
	background-color: rgba(255, 255, 255, 0.808);
	cursor: pointer;
}

.slide [aria-selected="true"] {
	background-color: rgb(255, 255, 255);
	outline: none;
}

.container > article > p {
	line-height: 1.2rem;
}

@media (min-width: 560px) {
	.crew {
		--bg-img: url("../../../assets/crew/background-crew-tablet.jpg");
	}

	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 3rem 12rem 2rem auto;
		padding: 8rem 2rem 0;
		margin: 0 auto;
		grid-template-areas:
			"title title"
			"infos infos"
			"slide slider"
			"img img";
	}

	.container > h1 {
		grid-area: title;
		margin: 0 auto 0 0;
	}

	.container > div {
		height: 100%;
		width: 100%;
		grid-area: img;
		margin-bottom: 0;
	}
	.container img {
		width: 18rem;
		height: 100%;
		padding-top: 2rem;
		margin: 0 auto;
	}

	.container .slide {
		grid-area: slide;
	}
	.container > article {
		grid-area: infos;
		padding: 0 4rem;
	}

	.container hr {
		display: none;
	}
}

@media (min-width: 768px) {
	.crew {
		--bg-img: url("../../../assets/crew/background-crew-desktop.jpg");
	}

	.container {
		grid-template-columns: 36vw auto;
		grid-template-rows: 10rem 14rem 6rem;
		grid-template-areas:
			"title img"
			"infos img"
			"slide img";
		min-width: 100vw;
		padding: 8rem 5vw 2rem;
	}

	.container img {
		position: absolute;
		bottom: 0;
		right: 4vw;
		width: 28rem;
		height: 36rem;
		margin: unset;
	}
	.slide {
		margin: 0 auto 0 0;
	}
	.container > article {
		padding: 0;
		text-align: left;
	}
	.container > article > * {
		margin: 0 auto 0 0;
		line-height: 1.6rem;
	}

	.container > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.slide li {
		width: 0.8rem;
		height: 0.8rem;
	}
}

@media (min-width: 1200px) {
	.crew {
		--bg-img: url("../../../assets/crew/background-crew-desktop.jpg");
	}

	.container {
		max-width: 1200px;
		grid-template-rows: 14rem 20rem 6rem;
		padding: 8rem 8vw 2rem;
	}
	.container * {
		font-size: 1.7rem;
	}

	.container > article > * {
		margin-top: 1rem;
		line-height: 1.8rem;
		padding: 0;
	}

	.container > article > h1 {
		font-size: 2.2rem;
	}

	.container > article > p {
		line-height: 2.2rem;
	}

	.container img {
		height: 80vh;
		width: auto;
		margin: 0 6rem;
	}

	.slide li {
		width: 1rem;
		height: 1rem;
	}
}
